<div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Todo
    </div>

    <div class="panel-body">

      <form name="todoForm" #form="ngForm"  >

        <div class="form-group ">
          <input 
            name="description" 
            type="text" [(ngModel)]="todo.Description" 
            class="form-control" id="todoDescription" 
            placeholder="New todo"
            required minlength="3" 
            #descriptionFld="ngModel" 
            (keyup.enter)="addTodo(todo);">
        </div>

        <div class="form-group ">
           <!-- <div> -->
            <select 
             class="form-control"
              name="category" 
              [(ngModel)]="todo.CategoryId" 
            >
              <!-- <option value="0">Please select a todo cateogory</option> -->
              <option *ngFor="let cat of categories" [value]="cat.Id">{{ cat.Description }}</option>
            </select>
          <!-- </span>   -->

        </div>

          <div class="form-group">           
                <button 
                    type="button" 
                    (click)="addTodo(todo); form.reset();"
                    class="btn btn-primary"
                    [disabled]="form.invalid"
                >Save</button>
          </div>

        <div class="alert alert-danger" *ngIf="((descriptionFld.dirty || descriptionFld.touched)) && (descriptionFld.invalid)">
          <div *ngIf="descriptionFld.errors.required">Description is required.</div>
          <div *ngIf="descriptionFld.errors.minlength">Description should be at least 3 characters.</div>
        </div>

      </form>

    </div>
  </div>

</div>