<div>

  <div class="container">
    <form name="todoForm" #form="ngForm">

      <div class="input-group ">
        <input  name="description" 
                type="text" 
                [(ngModel)]="todo.description" 
                class="form-control" 
                id="todoDescription" 
                placeholder="New todo"
                required 
                minlength="3" 
                #descriptionFld="ngModel" 
                (keyup.enter)="addTodo(todo);" >

          <span class="input-group-btn">           
                <button 
                    type="button" 
                    (click)="addTodo(todo); form.reset();"
                    class="btn btn-primary"
                    [disabled]="form.invalid"
                >Save</button>
          </span>
      </div>

      <div class="alert alert-danger" *ngIf="((descriptionFld.dirty || descriptionFld.touched)) && (descriptionFld.invalid)" >
        <div *ngIf="descriptionFld.errors.required">Description is required.</div>
        <div *ngIf="descriptionFld.errors.minlength">Description should be at least 3 characters.</div>
      </div>

    </form>
  </div>

</div>