<br>

<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Categories
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cras justo odio
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dapibus ac facilisis in
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Morbi leo risus
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8">

            <todo-header></todo-header>

            <todo-counts></todo-counts>

            <!-- <div class="panel panel-primary">
                <div class="panel-heading">
                    Todo
                </div>

                <div class="panel-body">
                    <todo-header></todo-header>
                    <br>
                    <todo-counts></todo-counts>
                </div>
            </div> -->

            <br>

            <todo-detail></todo-detail>

        </div>

    </div>

    <br/>

</div>